.homeDiv {
    background-image: url(../../public/images/first-page-background.svg);
    background-size: cover;
    margin-bottom: 0;
}

.divTitle {
    width: 10%;
    /*full width*/
    min-height: 90%;
    text-align: center;
    display: table;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 15%;
}

.homeTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #004E77;
    text-align: justify;
    font-size: 450%;
}

.aboutDiv {
    background-color: rgba(0, 0, 0, 0.050);
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    margin-bottom: 1%;
    padding-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.aboutUsTitle {
    font-size: 32px;
    margin-bottom: 2%;
    font-weight: bold;
}

.aboutUsParagraph {
    margin-top: 3%;
    font-size: 24px;
    text-align: justify;
}

.whatWeDoDiv {

    display: flex;
    flex-direction: column;
    margin-top: 9%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
}

.title {
    color: #004E77;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 2%;
    font-weight: bolder;
    text-align: center;
}

.whatWeDoParagraph {
    font-size: 24px;
    text-align: justify;

}

.whatWeDoDivInfo {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 70%;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.whatDoweDoInfo {
    background-color: #CBEDFF;
    width: 30%;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 19px;
    padding: 20px;

}

.whatDoWeDoTitle {
    font-size: 22px;
    margin-bottom: 5%;
    font-weight: bolder;
    text-align: center;
}

.whatDoWeDoInfoParagraph {
    font-size: 21px;
    text-align: justify;
}

.wDwHtitle {
    color: #004E77;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.whoDoWeHelp {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    border-top: none;
}

.subTitle {
    font-size: 24px;
    margin-bottom: 1%;
    font-weight: bold;
    text-align: center;
}

.howDoWeHelpfoParagraph {
    font-size: 22px;
    text-align: justify;
}

.threeLogosDiv {
    display: flex;
    flex-direction: row;
    background-color: #e5f5df;
    width: 60%;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

.divLogo {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 3%;

}

.fFLogo {
    width: 12%;
    margin-top: -1%;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.bILogo {
    width: 12%;
    margin-right: 15%;

}

.eELogo {
    width: 15%;
    margin-left: 15%;
    margin-right: 15%;
}

.wDwHLinksDiv {
    text-align: center;
}

.labelStylewDwHLinks {
    text-align: center;
    text-decoration: underline;
    color: #004E77;
    margin: 2%;
    cursor: pointer;
}

.wDwHBox {
    display: flex;
    flex-direction: row;
}

.wDwHSubDiv {
    background-color: #CBEDFF;
    width: 30%;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 15%;
    padding: 20px;

}

.wDwHsubParagraphs {
    font-size: 18px;
    text-align: justify;
}

.assetManagerLinks {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.wDwHSubDivDistributors {
    background-color: #e5f5df;
    width: 35%;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 3%;
    padding: 20px;
}

.distributorsLinkBox {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.distributorsLinks {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 20px;
    margin-left: 9%;
}

.clientsDiv {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
}

.southHallLogo {
    width: 30%;
    margin-right: 10%;
    margin-left: 5%;

}

.inversisLogo {
    width: 60%;
    margin-left: 15%;
    padding-right: 5%;

}

.oCsBox {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 20%;
}

.ourClientSayParagraphs {
    font-size: 18px;
    text-align: justify;
}

.oCsSubDiv {
    background-color: #CBEDFF;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 3%;
    padding: 0;
    
}

/* Media Queries */

@media (max-width: 924px) {
    .homeDiv {
        background-image: url(../../public/images/first-page-background.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .divTitle {
        display: flex;
        flex-direction: row;
        width: 70%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 15%;
    }

    .homeTitle {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #004E77;
        font-size: 22px;
    }

    .aboutDiv {
        background-color: rgba(0, 0, 0, 0.050);
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutUsTitle {
        font-size: 22px;
        margin-bottom: 2%;
        font-weight: bold;
        text-align: center;
    }

    .aboutUsParagraph {
        font-size: 14px;
        text-align: justify;
    }
    .whatWeDoDiv {

        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
    }
    .title {
        color: #004E77;
        font-size: 22px;
        margin-top: 2%;
        margin-bottom: 2%;
        font-weight: bolder;
        text-align: center;
    }
    .whatWeDoParagraph {
        font-size: 14px;
        text-align: justify;
    }
    .whatWeDoDivInfo {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin-top: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 3%;
    }
    
    .whatDoweDoInfo {
        background-color: #CBEDFF;
        width: 33%;
        margin-top: 10px;
        margin-right: 25px;
        margin-left: 19px;
        padding: 20px;
    
    }
}
