.lRDiv {
    background-image: url(../../public/images/login-background.png);
    background-color: #CBEDFF;
    background-repeat: no-repeat;
    background-size: 50% 105%;
    margin-top: 0;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    padding-bottom: 8.5%;
}

.firstLrDiv {
    display: flex;
    flex-direction: row;
}

.leftLrDiv {
    width: 45%;
}

.fFimgDiv {
    margin-top: 15%;
    margin-bottom: 10%;
    justify-content: center;
}

.fundFimg {
    width: 100%;
}

.lRparagraphDiv {
    margin-left: 5%;
    justify-content: center;
}

.lRparagraph {
    font-size: x-large;
    font-weight: bolder;
    color: #004E77;
    text-align: center;
    justify-content: center;
}

.lRbuttonsDiv {
    display: flex;
    flex-direction: row;
    margin-top: 22%;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
}

.fTbutton {
    margin-right: 5%;
    padding-left: 8% !important;
    padding-right: 8% !important;
    background-color: #004E77 !important;
    font-weight: bolder !important;
    border-color: #004E77 !important;

}

.loginButton {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background-color: white !important;
    color: black !important;
    font-weight: bolder !important;
    border-color: #004E77 !important;
}
.rightLrDiv{
    width: 45%;
    margin-left: 7.5%;
    margin-top: 8%;
}
.loginImages{
    width: 80%;
}
.modalLogoDiv{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
.fundFiLogo{
width: 40%;
}
.modalH4{
    text-align: center;
    font-weight: bolder;
    color: #004E77;
    font-size: large;
}
.modalP{
    font-size: large;
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 5%;
}
.divModalSelect{
    display: flex;
    flex-direction: row;
}