
@media (max-width: 924px){
    /* Media queries to change background colors from mobile version navBar */
   .navBarLogoLinkStyle{
        background-color: transparent;

    }

    .navbar .containerCustomedStyle {
        padding:0;   
      }
      
    .navLinkProductsStyle {
        background: #CBEDFF;
    
      }
    .navLinkInsightsStyle {
        background-color: #63C9FF;
    }
    .navLinkMeetStyle {
        background-color: #0082C6;
    }
    .navLinkLoginStyle {
        background-color: #00689E;
    }
    
    .navLinkCustomed{
       font-weight: bold;
        size: 22px;
        color: white !important;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color:white !important;
       

    }
}